/MuFlatPt_*/
/SingleNeutrino_PU*/
/*txt
/DYToMuMuorEleEle_*/
/SingleMu*/
/ZprimeToMuMu*/
/t82_05GeVBinning/
/nn_test/
/t2*/
/*.root
/phase2_*/
/rate_*/
/DT_2_2_2_t35____DT_2_2_2_t35_mcWaw_2024_01_03_OneOverPt_iPt2/
/pats_DT_2_2_2_t34____DT_2_2_2_t34_mcWaw_2024_01_03_OneOverPt_iPt2/
/DT_2_2_2_t35____DT_2_2_2_co1_t35_mcWaw_2024_01_03_OneOverPt_iPt2/
/DT_*/
