/crab_Phase2L1GMT_org_MC_analysis_DYToLL_M-50_Summer20_PU200_t200/
/crab_Phase2L1GMT_org_MC_analysis_MinBias_Summer20_PU200_t200/
/crab_Phase2L1GMT_org__MC_analysis_JPsiToMuMu_Summer20_PU200_t200/
/crab.log
/*.txt
/*.root
/*.pyc
