/*.log
/*.txt
/*.root
/*.pyc
/crab_Phase2L1GMT_org_MC_analysis_DYToLL_M-50_Summer20_PU200_*/
/crab_Phase2L1GMT_org_MC_analysis_MinBias_Summer20_PU200_*/
/crab_Phase2L1GMT_MC_analysis_MinBias_Summer20_PU200_*/
/crab_Phase2L1GMT_org__MC_analysis_JPsiToMuMu_Summer20_PU200_*/
/crab_Phase2L1GMT_org_MC_analysis_DYToLL_M-10To50_Summer20_PU200_*/
/crab_Phase2L1GMT_org_MC_analysis_DoubleMuon_gun_FlatPt-1To100_Summer20_PU200_*/
/crab_Phase2L1GMT_MC_analysis_TauTo3Mu_Summer20_PU200_withNewMB_*/
/crab_Phase2L1GMT_MC_analysis_TauTo3Mu_Summer20_PU140_withNewMB_*/
/__pycache__/
